* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

h2 {
  margin-right: 1rem;
}

#main {
  margin: 3rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.button-form {
  width: 50%;
  margin: 0 auto;
}

.list {
  flex-direction: column;
}

.score-list {
  border: 3px solid;
}

.score {
  padding: 0 0.5rem;
}

.score:nth-of-type(even) {
  background-color: #d3d3d3;
  height: auto;
}

.add {
  font-size: 1.5rem;
  font-weight: bold;
}

.button-form button {
  align-content: flex-end;
  border: 3px solid;
  cursor: pointer;
}

.form {
  width: 60%;
  margin: 0 auto;
}

.form input {
  width: 50%;
  margin-bottom: 0.5rem;
}
